<div class="container">
    <ul>
        <li *ngFor="let user of (users | async)" class="user">
            <div class="img-infos">
                <img [src]="'assets/images/' + user.profil_pic" alt="{{ user.profil_pic }}">
                <div class="user_info">
                    <p> <strong>Id : </strong> {{user.id_u}}</p>
                    <p> <strong>Identity : </strong> {{user.title}} {{user.first_name}} {{user.last_name}}</p>
                    <p> <strong>Email : </strong> {{user.email}} </p>
                </div>
            </div>
            <button type="button" class="btn_user_details" [routerLink]="['/users', user.id_u]"> → Go to details </button>
        </li>
    </ul>
</div>