<form (ngSubmit)="validateForm()" class="my-form">
    <fieldset>
        <legend> Contact Form </legend>
        <div class="form-group">
            <label for="name">Name :</label>
            <input type="text" id="name" name="name" placeholder="Alfredo Linguini" required [(ngModel)]="name">
        </div>
        <div class="form-group">
            <label for="email">Email <em>*</em> :</label>
            <input type="email" id="email" name="email" placeholder="AlfredoLeRigolo@CuisineLinguini.com" required [(ngModel)]="email" autocomplete="email">
        </div>
        <div class="form-group">
            <label for="message">Message <em>*</em> :</label>
            <textarea rows="5" id="message" name="message" required [(ngModel)]="message"></textarea>
        </div>
        <div>
            <button type="submit" name="button"> Send </button>
        </div>
    </fieldset> 
</form>
  