.product-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

/*Titre et image du livre selectionné*/
h2{
    color: #412300;
}
img {
    width: 350px;
    height: 500px;
}
.title_img {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin: 25px;
}


/* Details */
.details {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    align-items: center; 
    margin: 50px;
    margin-top: 70px;
}

p{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #F1EFEF;
    color: #331D2C;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*Description du livre */
.infos_book_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    color: #331D2C;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #c3c3c371;
    border-width: 1px;
    border-radius: 5px;
}
.résumé{
    padding: 5px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Auteurs*/
.auteurs{
    width: 100%;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Themes du livre*/
.themes{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Bouton */
.btn_buy{
    height: 25px;
    width: 110px;
    background-color:#eba550;
    border-style: none;
    border-radius: 5px;
}
.btn_buy:hover {
    background-color: #ec870c;
    color: #000;
}

/*Price and release dates div*/
.price_and_dates{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #eba55087;
}
.release{
    margin-top: 10px;
    margin-bottom: 10px;
}