
<div class="body_app">
    <h1> Non de notre boutique .com </h1>
    <nav>
        <ul style="list-style-type:none;">
            <li>
                <a routerLink="/products" routerLinkActive="active" [ngClass]="{'active': activeRoute === 'products'}"> Products </a>
            </li>
            <li>
                <a routerLink="/orders" routerLinkActive="active" [ngClass]="{'active': activeRoute === 'orders'}" > Orders </a>
            </li>
            <li>
                <a routerLink="/users" routerLinkActive="active" [ngClass]="{'active': activeRoute === 'users'}"> Users </a>
            </li>
            <li>
                <a routerLink="/contact_form" routerLinkActive="active"  [ngClass]="{'active': activeRoute === 'contact_form'}" > Contact Form </a>
            </li>
        </ul>
    </nav>
    
    <router-outlet></router-outlet> 
</div>
