
<div class="body_app">
    <div class="header">
        <img [src]="'assets/logos/livre-logo-gauche.png'" alt="logo-gauche" >
        <h1>  Book'tse.com </h1>
        <img [src]="'assets/logos/livre-logo-droit.png'" alt="logo-droit" >
    </div>
    <nav>
        <ul style="list-style-type:none;">
            <li>
                <a routerLink="/products" routerLinkActive="active" [ngClass]="{'active': activeRoute === 'products'}"> Products </a>
            </li>
            <li>
                <a routerLink="/orders" routerLinkActive="active" [ngClass]="{'active': activeRoute === 'orders'}" > Orders </a>
            </li>
            <li>
                <a routerLink="/users" routerLinkActive="active" [ngClass]="{'active': activeRoute === 'users'}"> Users </a>
            </li>
            <li>
                <a routerLink="/contact_form" routerLinkActive="active"  [ngClass]="{'active': activeRoute === 'contact_form'}" > Contact Form </a>
            </li>
        </ul>
    </nav>
    
    <router-outlet></router-outlet> 
</div>
