<ul>Ouhouhouh bella
</ul>
<nav>
    <ul>
        <li>
            <a routerLink="/contact_form" routerLinkActive="active"> Contact Form </a>
        </li>
        <li>
            <a routerLink="/products" routerLinkActive="active"> Products </a>
        </li>
        <li>
            <a routerLink="/orders" routerLinkActive="active"> Orders </a>
        </li>
        <li>
            <a routerLink="/users" routerLinkActive="active"> Users </a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>