nav {
    display: flex;
    margin: 0; /* Réinitialise la marge du nav */
    height: 50px;
    background-color: blanchedalmond;
    align-items: center;
    align-content: center;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: aqua;
    margin: 0;
}
li {
    list-style-type:none;
    margin: 15px;
    margin: 0; 
}
a {
    text-decoration:none;
    margin: 0; 
}

.body_app{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0px;
    padding: 0px;
}
