<div class="body_products">
  <h2 class="genres"> Fantasy </h2>
  <div class="container">
    <ul>
      <li *ngFor="let product of (productsFantasy | async)!" class="product" [routerLink]="['/products', product.id]">
        <img [src]="'assets/images/' + product.image" alt="{{ product.title }}">
        <p>{{ product.title }}</p>
        <p>Price: {{ product.price }} $</p>
      </li>
    </ul>
  </div>
  <h2 class="genres"> Romance </h2>
  <div class="container">
    <ul>
      <li *ngFor="let product of (productsRomance | async)!" class="product" [routerLink]="['/products', product.id]">
        <img [src]="'assets/images/' + product.image" alt="{{ product.title }}">
        <p>{{ product.title }}</p>
        <p>Price: {{ product.price }} $</p>
      </li>
    </ul>
  </div>
  <h2 class="genres"> Mythologie Grecque </h2>
  <div class="container">
    <ul>
      <li *ngFor="let product of (productsMythology | async)!" class="product" [routerLink]="['/products', product.id]">
        <img [src]="'assets/images/' + product.image" alt="{{ product.title }}">
        <p>{{ product.title }}</p>
        <p>Price: {{ product.price }} $</p>
      </li>
    </ul>
  </div>
  <h2 class="genres"> Fantastique </h2>
  <div class="container">
    <ul>
      <li *ngFor="let product of (productsFantastic | async)!" class="product" [routerLink]="['/products', product.id]">
        <img [src]="'assets/images/' + product.image" alt="{{ product.title }}">
        <p>{{ product.title }}</p>
        <p>Price: {{ product.price }} $</p>
      </li>
    </ul>
  </div>
  <h2 class="genres"> Science Fiction </h2>
  <div class="container">
    <ul>
      <li *ngFor="let product of (productsSciFi | async)!" class="product" [routerLink]="['/products', product.id]">
        <img [src]="'assets/images/' + product.image" alt="{{ product.title }}">
        <p>{{ product.title }}</p>
        <p>Price: {{ product.price }} $</p>
      </li>
    </ul>
  </div>
  <h2 class="genres"> Thriller </h2>
  <div class="container">
    <ul>
      <li *ngFor="let product of (productsThriller | async)!" class="product" [routerLink]="['/products', product.id]">
        <img [src]="'assets/images/' + product.image" alt="{{ product.title }}">
        <p>{{ product.title }}</p>
        <p>Price: {{ product.price }} $</p>
      </li>
    </ul>
  </div>
</div>
