<div class="body_products">
  <h2 class="genres"> Fantasy </h2>
  <div class="container">
    <ul>
      <li *ngFor="let product of (productsFantasy | async)!" class="product" >
        <img [src]="'assets/images/' + product.image" alt="{{ product.title }}" [routerLink]="['/products', product.id]">
        <p>{{ product.title }}</p>
        <p>Price: {{ product.price }} €</p>
        <button type="button" class="buy_btn" (click)="buy_items()"> Buy </button>
      </li>
    </ul>
  </div>
  <h2 class="genres"> Romance </h2>
  <div class="container">
    <ul>
      <li *ngFor="let product of (productsRomance | async)!" class="product" >
        <img [src]="'assets/images/' + product.image" alt="{{ product.title }}" [routerLink]="['/products', product.id]">
        <p>{{ product.title }}</p>
        <p>Price: {{ product.price }} €</p>
        <button type="button" class="buy_btn" (click)="buy_items()"> Buy </button>
      </li>
    </ul>
  </div>
  <h2 class="genres"> Mythologie Grecque </h2>
  <div class="container">
    <ul>
      <li *ngFor="let product of (productsMythology | async)!" class="product" >
        <img [src]="'assets/images/' + product.image" alt="{{ product.title }}" [routerLink]="['/products', product.id]">
        <p>{{ product.title }}</p>
        <p>Price: {{ product.price }} €</p>
        <button type="button" class="buy_btn" (click)="buy_items()"> Buy </button>
      </li>
    </ul>
  </div>
  <h2 class="genres"> Fantastique </h2>
  <div class="container">
    <ul>
      <li *ngFor="let product of (productsFantastic | async)!" class="product" >
        <img [src]="'assets/images/' + product.image" alt="{{ product.title }}" [routerLink]="['/products', product.id]">
        <p>{{ product.title }}</p>
        <p>Price: {{ product.price }} €</p>
        <button type="button" class="buy_btn" (click)="buy_items()"> Buy </button>
      </li>
    </ul>
  </div>
  <h2 class="genres"> Thriller </h2>
  <div class="container">
    <ul>
      <li *ngFor="let product of (productsThriller | async)!" class="product">
        <img [src]="'assets/images/' + product.image" alt="{{ product.title }}" [routerLink]="['/products', product.id]">
        <p>{{ product.title }}</p>
        <p>Price: {{ product.price }} €</p>
        <button type="button" class="buy_btn" (click)="buy_items()"> Buy </button>
      </li>
    </ul>
  </div>
  <h2 class="genres"> Magie </h2>
  <div class="container">
    <ul>
      <li *ngFor="let product of (productsMagic | async)!" class="product">
        <img [src]="'assets/images/' + product.image" alt="{{ product.title }}" [routerLink]="['/products', product.id]">
        <p>{{ product.title }}</p>
        <p>Price: {{ product.price }} €</p>
        <button type="button" class="buy_btn" (click)="buy_items()"> Buy </button>
      </li>
    </ul>
  </div>
  <h2 class="genres"> Science Fiction </h2>
  <div class="container">
    <ul>
      <li *ngFor="let product of (productsSciFi | async)!" class="product" >
        <img [src]="'assets/images/' + product.image" alt="{{ product.title }}" [routerLink]="['/products', product.id]">
        <p>{{ product.title }}</p>
        <p>Price: {{ product.price }} €</p>
        <button type="button" class="buy_btn" (click)="buy_items()"> Buy </button>
      </li>
    </ul>
  </div>
</div>
